extends layout

block content
  .centered
    .ask-field
      p
        input.question-box#askbox(type='text' placeholder='Ask the magic 7ball!' size='100')
      p
        button.btn.btn-success#btn-ask(onclick='btn_ask_click()') Ask!
    .answer-container
      .answer#answer
        h2.speech
          #answer-content
        p#metadata
        #share-btn-twitter
          a.twitter-share-button(href='https://twitter.com/share' data-count="horizontal" data-hashtags="7ball")
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
