extends layout

block content
  .tos-container
    .tos-content
      h1 Terms and Conditions
      p.
        This agreement is between you and the owner of the website.
        By posting on this website you agree to comply with the following terms and conditions. 
        Thereby you can use 7ball services for personal and non-commercial purposes. 
        If you disagree with these terms of use or any part of them, you must not use 7ball. 
        If you don't comply with these terms, the owner reserves the right to restrict or forbid your access to 7ball and its services. 
        Magic Seven Ball answers are random and they can't be taken seriously as advice.
        The owner is not responsible for decisions you make based on Magic Seven Ball answers.
      h2 1. Asking
      p
        ol
          li Do not enter any personal information
      h2 2. Privacy
      p.
        All posted questions are stored on the website. Post personal or third party information at your own risk.