body {
  margin: 0px;
  padding: 0px;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.space {
  width: 100%;
  height: 50px;
}

.footerspace {
  width: 100%;
}

.panel {
  min-height; 100vh;
  padding: 10px;
  width: 100%;
}

.answer-container {
  display: block;
  height: 200px;
}

.answer {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: none;
}

.question-box {
  width: 500px;
}

.tos-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tos-content {
  padding: 20px;
}