body {
  margin: 0px;
  padding: 0px;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.space {
  width: 100%;
  height: 50px;
}

.footerspace {
  width: 100%;
  height: 50px;
}

.panel {
  min-height; 100vh;
  padding: 10px;
  width: 100%;
}

.answer-container {
  display: block;
  
  height: 100px;
  max-width: 500px;
  
  margin-left: auto;
  margin-right: auto;
}

.answer {
  display: none;  
}

.tos-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tos-content {
  padding: 20px;
}

#btn-ask {
  width: 100px;
  height: 50px;
  font-size: 20px;
}